<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unity-iPhone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>315D033D9CBD39C65DAE27E208E5527C6884A48D</string>
				<key>dateExpires</key>
				<string>23.09.2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>45R8NJJ53T.com.cdmvision.localapps.cdmtragger</string>
				<key>com.apple.developer.team-identifier</key>
				<string>45R8NJJ53T</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>45R8NJJ53T.com.cdmvision.localapps.cdmtragger</string>
				</array>
			</dict>
			<key>name</key>
			<string>cdmtragger.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>52fc629e-2885-4dd0-9f95-cc355962fe07</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.cdmvision.localapps.cdmtragger</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>45R8NJJ53T</string>
				<key>name</key>
				<string>CADEM CAD CAM DESTEK MERKEZI VE BILGISAYAR SANAYI TICARET ANONIM SIRKETI</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
